<!-- <div class="form"><h1>Employee Form</h1>
<form>
  <input
    type="text"
    pInputText
    [(ngModel)]="value"
    placeholder="Employee code"
  />
  <br />
  <br />
  <input type="text" pInputText [(ngModel)]="value" placeholder="First name" />
  <br />
  <br />
  <input type="text" pInputText [(ngModel)]="value" placeholder="Last name" />
  <br />
  <br />
  <p-calendar
    [(ngModel)]="date"
    [showIcon]="true"
    placeholder="Date of birth"
  ></p-calendar>
  <br />
  <br />
    <label for="Gender1" class="ml-2">Male</label>
    <p-radioButton
      name="Gender"
      value="male"
      [(ngModel)]="Gender"
      inputId="Gender1"
    ></p-radioButton>

    <label for="Gender2" class="ml-2">Female</label>
    <p-radioButton
      name="Gender"
      value="female"
      [(ngModel)]="Gender"
      inputId="Gender2"
    ></p-radioButton>
  <br /><br/> 
  <label>Is Active</label>
  <p-checkbox
    [(ngModel)]="checked"
    [binary]="true"
    inputId="binary"
  ></p-checkbox>
  <br /><br />

  <p-dropdown
    [options]="department"
    [(ngModel)]="selectedDepartment"
    optionLabel="name"
  ></p-dropdown>
  <br /><br />

  <p-button>Save</p-button>
</form>
</div> -->
